:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('assets/background-img.png');
  background-size: cover;
}
h1{
  text-align: center;
  border: 1px solid red;

}
nav{
  display: flex;
  overflow: hidden;
  background-color: #333333;
}
nav a{
  text-decoration: none;
  padding: auto;
  margin: auto;
  color: aliceblue;
  transition: background-color 0.5s;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  
}

nav a:hover{
  background-color: gray;
  

}
.userForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  background-color: #242424;
}
.userForm form{
    display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  width: 350px;
}

#regBtn{
  color: white;
  background-color: #242424;

}